datos.dtd

<!ELEMENT proyectos (proyecto+)>

<!ELEMENT proyecto (nombre, descripcion, enlace, nota?)>
<!ATTLIST proyecto
    id ID #REQUIRED
    ref IDREF #IMPLIED
    fecha CDATA #REQUIRED
    estado (completado | en_desarrollo | pendiente) #IMPLIED
>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT enlace (#PCDATA)>
<!ELEMENT nota ANY>
